<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>

<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>

<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>

<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>

<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>

<a class="hero">
  <section class="hero__status">
    <h2> Hero name </h2>

    <ul>
      <li> Identity </li>
    </ul>
  </section>

  <section class="hero__image">
    <img src="assets/portrait_medium.jpg" alt="hero">
  </section>
</a>



